*{text-align: center;}
.koka {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   gap: 20px;
   background-color: #009999;
   padding: 10px 20px;

  }
.logo img {background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  display: block;}

  .emri-klinikës{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
  }

  .emri-klinikës h1 {
  margin: 0;
  font-size: 32px;
  font-weight: bold;}

  .emri-klinikës p {
  margin: 5px 0 0;
  font-size: 16px;}
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 8px;}
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 15px;}

    .rreth-nesh {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
      padding: 20px;
      font-size: 18px;
      color: #333333;
    }

    img{
      width: 400px;
      height: 300px;
      border-radius: 20px;
      margin: 20px;
    }

    ul{list-style-type: none;
    padding: 0;}
